@import './base.css';

 #app {
     background: var(--color-text-1);
     display: grid;
     grid-template-columns: 2fr  12fr 2fr;
     grid-template-rows: 1fr 15fr 1fr;
     height: 100vh;

}
.main_content{
    grid-column-start: 2;
    grid-column-end: 3;
    padding:  1rem;
}
.my_header {
    background: var(--background-1);
    color: var(--color-text-1);
    grid-column-start: 1;
    grid-column-end: 4;
    line-height: 1.5;
    padding: 1rem;
}
.my_footer {
    background: var(--background-1);
    grid-column-start: 1;
    grid-column-end: 4;
    line-height: 1.5;
}
:root{
    --color-text-1:#CAEEE7;
    --background-1:#3B6B61;
    --background-2: #81EBD5;
    --color-text-2:#5B6B68;
    --add_color_dark:#65B8A7
}
